/* Removes unwanted styling from the page */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  max-width: 100%;
}

/* Write your code below this */
.navbar{
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
 
}
li{
  display: inline-block;
  list-style-type: none;
  margin: 0,12px;
  padding-left: 12px;
  padding-right: 12px; 
}
.About-me{
  padding: 100px;
}
h4{
  text-align: center;
  font-weight: 40px;
  font-size: 30px; 
  padding-top: 45px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: blue;
  cursor: pointer;
}

.para{
  text-align: center;
  font-size: 25px;
  font-weight: 20px;
  padding-bottom: 45px;
  padding-top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero{
  background-image: url('/images/hero.png');
  height: 500px;
  padding-top: 219px;
  padding-left  :103px;
}
h1{
  font-size:36px ;
  margin-bottom: 15px; 
}
.pgh{
  font-size: 20px;
  text-transform: capitalize;
}
button{
  margin-top: 10px;
  padding: 17px;
  padding-left: 12px;
  background: #52647E;
  color: white;
  border-radius: 10px;
}
.journey{
  background: #618379;
  padding: 57px;
}
h2{
  color: white;
  padding: 32px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 57px;
}
.journey-list{
  display: flex;
  width: 80%;
  margin: 20px;
  justify-content: space-between;
}
.journey-card{
  width: 30%;
  background-color: white;
  padding: 25px;
  border-radius: 40px;
  color: gray;
  margin-left:17px;
  

}
.journey-image{
  border-radius: 25px;
  margin-bottom:30px;
  

}
h3{
  font-weight: 500;
  font-size: 20px;
  color: black;
  margin-bottom: 12px;
}
.goals{
  padding: 80px;
  background-color: #92c1b3;
  display: flex;
  flex-direction: column;
  border: none;
}
h5{
  text-align: center;
  font-weight: 40px;
  font-size: 30px;
  margin-bottom: 40px; 
}
.gol{
  
  text-align: center;
  font-size: 25px;
  font-weight: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
  background: #333232;
  text-align:center;
  color: white;
  padding: 30px;
}
